<h4 class="page-header">Nuevo evento</h4>

<div class="panel panel-default">
    <div class="panel-heading">
        Crear evento
    </div>
    <div class="panel-body">
    	<%= form_tag admin_events_path(@event), method: 'post' do |f| %>
    		<%= render :partial => "shared/error_messages", :locals => {:target => @event} %>
    		<%= render 'admin/events/form' %>
    	<% end %>
    </div>
	<div class="panel-footer">
		<%= link_to raw(t("helpers.back")), admin_events_path, title: 'Volver al listado de eventos' %>
	</div>
</div>