<p>Hola,</p>

<p>Parece que has olvidado la contraseña de acceso de tu usuario de Voy en Bici<br />
Para cambiar tu contraseña necesitamos que pulses en el siguiente enlace</p>

<%= link_to t("users.remember_password"), {:controller => :users, :action => :change_password, :id => @user, :token => @user.token} %>

<p>Si no nos has pedido que te enviemos este email, simplemente ignóralo.</p>
<p>Saludos,<br />
<em>equipo de Voy en Bici</em></p>