<h1>Hola <%= @user.name rescue nil %>,</h1>
<p>Queremos darte las gracias por darte de alta y formar parte de nuestra nueva comunidad de usuarios de las dos ruedas. Esperamos que puedas disfrutar de tu estancia con nosotros y encuentres información relacionada que te sea de utilidad.</p>

<p>Saludos,<br />
<em>equipo de Voy en Bici</em></p>