// Fuentes
$arial: Arial, Helvetica, serif;
$helvetica: Helvetica, Arial, serif;
$helvetica_neue: "Helvetica Neue", Helvetica, serif;

// Body
$background:#F4F4F4;
$font:$helvetica_neue;

// Fuentes
$color: #000;
$color_header_h: #444;
$line_height: 1.1em;
$size: 1em;

// Header
$background_header: #ff4621;
$color_header: #FFF;

// Module
$background_module: #FFF;


// Inputs
$background_input: #FFF;
$color_input: #000;
$line_height_input: 1.2em;
$size_input: 1em;

// Botón de descarga
$background_download_button: $background_header;
$border_color_download_button: #ff7154;
