<p><%= link_to t("contacts.do_you_want_contact_with_us?"), contacts_path, :data => {remote: true} %></p>
<p><strong><%= Time.now.year %> &copy; Voy en Bici</strong> - Todos los derechos reservados</p>
