<div class="logo">
  <h1>
    <a href="/" title="Voy en Bici - La comunidad de los ciclistas">
      <img src="/assets/comunes/voy-en-bici-black.png" alt="Voy en Bici - La comunidad de los ciclistas" />
    </a>
  </h1>
</div>