<div class="logo <%= !session[:user_id].blank? ? "span6" : "span16" %>">
  <h1>
    <a href="/" title="Voy en Bici - La comunidad de los ciclistas">
      <img src="comunes/voy-en-bici.png" alt="Voy en Bici - La comunidad de los ciclistas" />
    </a>
  </h1>
</div>