<div class="border-radius margin-top span36 offset6">
  <div class="span32 offset2">
    <h1><%= t("users.sign_up_create_user") %></h1>
    <div class="double-margin-top">
      <%= render :partial => "form_create" %>
    </div>
  </div>
</div>