<div class="row">
    <div class="container">
        <div id="message-veb" class="module col-md-3">
            <%= render :partial => "comunes/logo_big_black" %>
        
            <div id="contact">
                <%= render :partial => "index" %>
            </div>
        </div>
    </div>
</div>