<div class="row">
    <div class="container">
        <div id="message-veb" class="module col-md-3 col-sm-4 col-xs-11">
            <%= render :partial => "comunes/logo_big_black" %>
        
            <div id="contact">
                <%= render :partial => "send_contact" %>
            </div>
        </div>
    </div>
</div>

