<p>Se ha enviado un formulario de contacto con los siguientes datos desde la página web: </p>

<ul>
	<li><strong>Asunto:</strong> <%= @contact.subject %></li>
	<li><strong>Nombre:</strong> <%= @contact.name %></li>
	<li><strong>Email:</strong> <%= @contact.email %></li>
	<li><strong>Comentarios:</strong> <%= @contact.comments %></li>
</ul>

<p>Saludos,<br />
<em>equipo de Voy en Bici</em></p>