<h4 class="page-header">Nueva configuración</h4>

<div class="panel panel-default">
    <div class="panel-heading">
        Crear configuración
    </div>
    <div class="panel-body">
    	<%= form_tag admin_configurations_path(@config), method: 'post' do |f| %>
    		<%= render :partial => "shared/error_messages", :locals => {:target => @config} %>
    		<%= render 'admin/configurations/form' %>
    	<% end %>
    </div>
	<div class="panel-footer">
		<%= link_to raw(t("helpers.back")), admin_configurations_path, title: 'Volver al listado de configuraciones' %>
	</div>
</div>