<p>Te hemos enviado un correo electrónico con unas instrucciones para modificar la contraseña de acceso a tu cuenta</p>
<p>Si tienes dificultades contacta con nosotros en <a href="mailto:hola@voyenbici.com">hola@voyenbici.com</a></p>


<hr class="clearfix" />
<center>
    <p><strong>¿Ya tienes una cuenta?</strong></p>
    <p><%= link_to "Entra con tu usuario y contraseña", new_user_session_path, :remote => true, :class => "sign-in-link" %></p>
</center>