<div class="row">
    <div class="container">
        <div id="message-veb" class="module col-md-3 col-sm-4 col-xs-11">
            <%= render :partial => "comunes/logo_big_black" %>
        
            <div id="password-reset">
                <%= render :partial => "new" %>
            </div>

            <div id="sign-up" style="display:none;"></div>
            <div id="sign-in" style="display:none;"></div>
        </div>
    </div>
</div>
