@import "../framework/variables";
@import "../framework/mixins";

.map-editor{
	height:60vh;
	position:relative;

	#map{
		height:100%;
		width:100%;
		}

	.form-control{
		position:absolute;
		top:15px;
		left:50%;
		@include transform(translate(-50%, 0));
		width:40%;
		}		
	}